/* The Modal (background) */
.a_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .a_modal-content {
    position: relative;
    background-color: #414141;
    color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .aclose {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .aclose:hover,
  .aclose:focus {
    color: rgb(184, 184, 184);
    text-decoration: none;
    cursor: pointer;
  }
  
  .a_modal-header {
    padding: 2px 16px;
    background-color: rgb(248, 232, 1);
    color: rgb(0, 0, 0);
  }
  
  .a_modal-body {padding: 2px 16px;}
  
  .a_modal-footer {
    padding: 2px 16px;
    background-color: #b4b4b4;
    color: white;
  }

  .s_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .s_modal-content {
    position: relative;
    background-color: #414141;
    color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .s_modal-header {
    padding: 2px 16px;
    background-color: rgb(0, 255, 255);
    color: rgb(0, 0, 0);
  }

  .s_modal-body {padding: 2px 16px;}
  
  .s_modal-footer {
    padding: 2px 16px;
    background-color: #b4b4b4;
    color: white;
  }











/*
 * (RED DRAGON CODE STUDIO) © 2022 | K.PRABHASHA
 *  Date: 024 : 9 / 2022 (DD/MM/YYYY)
 *  Time: 17 : 38 : 57   (HH/MM/SS)
 */
