.head_ {
  font-family: Arial, pelvetica, sans-serif;
  color: rgb(0, 0, 0);
  float: left;
  padding: 10px 15px;
  font-size: 20px;
  border: 0px solid rgb(44, 23, 38);
  outline: none;
  cursor: pointer;
  width:100%;
  height: 60px;
  font-size: 17px;
  transition: .5s ease;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, #d10000fd 0%,  #a70000 40%,  #a79b00 50%,  #01a559 55%,  #00a79e 60%, #00cec3 100%); 
  /*background-image: linear-gradient(to right, #ff0000fd 0%,  #ff0000 40%,  #ffee00 50%,  #4bffab 55%,  #00fff2 60%, #00fff2 100%);*/
  /*background-image: linear-gradient(to right, #ff00008e 0%,  #ff00008a 40%,  #ffee0091 50%,  #4bffab8a 55%,  #00fff296 60%, #00fff28f 100%);*/
  /*background-image: linear-gradient(to top, #000000 0%, #ffae00 100%)
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.733) 0%,transparent 100%);

  */
}
.footer_color {
  background-image: linear-gradient(to right, #ff0000fd 0%,  #ff0000 40%,  #ffee00 50%,  #4bffab 55%,  #00fff2 60%, #00fff2 100%);
}
.head_txt {
  font-family: cursive;
  color: rgb(0, 0, 0);
  font-size: 30px;
}
.overlay {

  width: 100%;
  height: 100px;
  padding: 30px 30px;
  justify-content: center;
  background-position: center;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to top, rgb(255, 0, 0) 0%, rgba(55, 0, 255, 0.445) 100%);

}
.zooms {
  transition: .5s ease;
  font-size: 20px;
}
.zooms:hover {
  font-size: 30px;
}


.home_ {
    color: rgb(0, 17, 255);
    border: 0px solid rgb(44, 23, 38);
    background-color: rgb(255, 187, 0);
    display: none;
    padding: 30px;
    text-align: left;
    background-size: 150px;
    background-position:right;
    animation-name: examples;
    animation-duration: 100s;
    height: 300px;
  }
  #home_ {background-color:rgb(255, 255, 255);}
  
  .home__ {
    color:rgb(217, 255, 0);
    align-items: center;
    margin: auto;
  }
  #home__ {background-color:rgb(217, 255, 0);}

  .body_ {
    color:rgb(200, 255, 253);
    align-items: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .body_paragraph {
    margin-left: 60px;
  }

  .active-state {
    font-size: 12px;
    margin-top: 1px;
    margin-right: -4px;
    color:#eee;
    background-color: #000;
    border:1px white;
    width:auto;
    font-style: bold;
    border-radius: 6px;
    transition: .5s ease-out;
    text-transform: uppercase;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.233), 0 1px 2px rgba(255, 255, 255, 0.356);
  }
  .active-state:hover {
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border:1px rgb(126, 126, 126);
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.233), 0 1px 2px rgba(255, 255, 255, 0.356);
  }

  @media only screen and (max-width: 750px) {
    .body_ {
      flex-direction: column;
    }
    .body_paragraph {
      margin-left: 0px;
    }
  }

  .notify_bar {
    float:left;
    color: white;
    margin-top: 5px;
    margin-left: -8px;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  @keyframes example {
      0%   {background-color: rgb(255, 208, 126);}
      25% {background-color: rgb(160, 160, 160);}
      50%   {background-color: rgb(255, 208, 126);}
      100% {background-color: rgb(160, 160, 160);}
    }
  .img-s {
    width:100%;
    height: 220px;
  }
    @media only screen and (max-width: 600px) {
      .img-s {
        width: 100px;
      }
      .home__ {
        
      }
    }
    @media only screen and (max-width: 1100px) {
      .home__ {
        width: 100%;
      }
    }
    .header_ {
      font-family: italic;
      background-color: #ffffff;
      color: rgb(255, 255, 255);
      float: left;
      border: 0px solid rgb(44, 23, 38);
      outline: none;
      cursor: pointer;
      padding: 10px 15px;
      font-size: 17px;
      transition: .5s ease;
      width: 100%;
      background-image: linear-gradient(to top, #000000 0%, #ffae00 100%);
    }
    
    .header_:hover {
      color: rgb(203, 255, 187);
      box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19), 0 6px 6px rgba(255, 255, 255, 0.23);
   
    }
    .footer_ {
      font-family: italic;
      background-color: #ffae0000;
      color: rgb(255, 255, 255);
      float: left;
      border: 0px solid rgb(44, 23, 38);
      outline: none;
      cursor: pointer;
      padding: 10px 15px;
      font-size: 17px;
      transition: .5s ease;
      width: 100%;
      /*background-image: linear-gradient(to top, #ffae00 0%, #000000 100%)*/
    }
    
    .footer_:hover {
      font-style: italic;
      color: rgb(255, 255, 255);
      box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19), 0 6px 6px rgba(0,0,0,0.23);
   
    }
    .header_selection {
      font-family: italic;
      background-color: #ffae00;
      color: rgb(255, 255, 255);
      float: left;
      border: 0px solid rgb(44, 23, 38);
      outline: none;
      cursor: pointer;
      padding: 10px 15px;
      font-size: 17px;
      transition: .5s ease;
      width: 100%;
      background-image: linear-gradient(to top, #ffffff 0%, #050505 100%)
    }
    
    .header_selection:hover {
      font-style: italic;
      color: rgb(255, 255, 255);
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   
    }
  
  .mySlides{
    width: 100%;
    height: 400px;
    transition: 0.5s;
    animation-name: example;
    animation-duration: 100s;
  
  }
  
  * {box-sizing: border-box}
  body {font-family: Verdana, sans-serif; margin:0}
  .mySlides {display: none}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 900px;
    height: 100px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  .comments {
    display: flex;
    flex-direction: column;
}
.creator_message_poto {
    height: 50px;
    width: 50px;
    border: 0px solid black;
    border-radius: 100px;
}
.creator_message_name {
    font-family: Arial, pelvetica, sans-serif;
    display: flex;
    align-items: left;
    justify-content: center;
    float:top;
    flex-direction: column;
}
.creator_comments {
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    border-radius: 8px;
    margin-left: 5%;
    margin-right: 5%;
}
.creator_message {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 12px;
}
  
  .gradient {
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    padding: 15px;
    border: 2px solid white;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 28.5%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
  }
  @media only screen and (max-width: 920px) {
    .gradient {
      width: 90%;
    }
  }
  .gradient:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
  }
  .b-1 {background-image: linear-gradient(to right, #000000 0%, #000000 51%, #ff0000 100%)}
  .b-1:hover { background-position: right center; }
  
  .b-2 {background-image: linear-gradient(to right, #000000 0%, #000000 51%, rgb(248, 232, 1) 100%)}
  .b-2:hover { background-position: right center; }
  
  .b-3 {background-image: linear-gradient(to right, #000000 0%, #000000 51%, rgb(0, 255, 255) 100%)}
  .b-3:hover { background-position: right center; }
  

  .gradient-social {
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    padding: 15px;
    border: 2px solid rgba(255, 255, 255, 0);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(238, 238, 238, 0);
    border-radius: 50px;
    width: 80%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
  }
  .code-editor-btn {
    background-image: linear-gradient(to right, #ffcccc 0%, #ceffff 100%);
    background-size: 100% auto;
    width: auto;
    height: auto;
    margin-left: 1px;
    border-radius: 5px;
  }
  .code-editor-btn:hover {
    background-image: linear-gradient(to right, #ff9a9a 0%, #a4ffff 100%);
  }
  .b-social-1 {
    background-color: #b700ff00;
  }
  .b-social-2 {
    background-color: #b700ff00;
  }
  .b-social-3 {
    background-color: #b700ff00;
  }
  .b-social-4 {
    background-color: #b700ff00;
  }
  .b-social-5 {
    background-color: #b700ff00;
  }

  .b-social-1:hover {
    background-image: linear-gradient(to right, #ff0000 0%, #eeff00 16%, #00e60b 31%, #1a09ff 50%, #00e60b 66%, #fbff09 83%, #ff0909 100%);
    margin-right: 6px;
  }
  .b-social-2:hover {
    background-color: #b700ff;
    margin-right: 6px;
  }
  .b-social-3:hover {
    background-color: #0400ff;
    margin-right: 6px;
  }
  .b-social-4:hover {
    background-color: #00ff37;
    margin-right: 6px;
  }
  .b-social-5:hover {
    background-color: #0084ff;
    margin-right: 6px;
  }

  .back {
    background-color: red;
    border-radius: 30px;
  }
  .back:hover {
    background-color: rgb(158, 0, 0);
  }
  
  .swiper {
    width: 600px;
    height: 300px;
  }
  /**/
  .borderray {
    background-color: rgba(255, 255, 255, 0.377);
    border: 1px black;
    border-radius: 15px;
    border-width: 2px;
    width: 80%;
    border-style: solid;
  }
  .anthembtn {
    background-color:rgb(18, 158, 0);
    border: 1px rgb(255, 255, 255);
    border-radius: 15px;
    border-width: 2px;
    width: 80%;
    border-style: solid;
  }
  .anthembtn:hover {
    background-color: rgb(30, 255, 0);
  }
  .borderrays {
    background-color: rgba(255, 255, 255, 0.26);
    border: 1px rgb(255, 255, 255);
    border-radius: 15px;
    border-width: 3px;
    width: 90%;
    height: 370px;
    border-style: solid;
    font-size: 20px;
  }
  @media only screen and (max-width: 900px) {
    .borderrays {height: 470px;}
  }
  @media only screen and (max-width: 500px) {
    .borderrays {height: 500px;}
  }
  @media only screen and (max-width: 400px) {
    .prev, .next,.text {font-size: 11px}
    .borderrays {height: 900px;}
  }
  
  .borderrayd {
    border: 1px rgb(255, 255, 255);
    border-radius: 15px;
    border-width: 3px;
    width: 90%;
    height: 150px;
    border-style: solid;
  }
  div.mehewara__{
    line-height: 80%;
  }
  .pasal_geethaya {
    background-color: rgba(255, 255, 255, 0.26);
    border: 1px rgb(255, 255, 255);
    border-radius: 15px;
    border-width: 3px;
    width: 90%;
    height: 900px;
    border-style: solid;
    font-size: 20px;
  }
  @media only screen and (max-width: 500px) {
    .pasal_geethaya {height: 970px;}
  }
  
  .slide {
    border: 5px black;
  }
  
  /*notice animation*/
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #000000;
    color:#ffffff;
    align-items:center;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #ff0000;
    color: white;
  }
  
  .modal-body {
    padding: 2px 16px;
    line-height: 1;
  }
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  /*trip*/
  .trip-poto {
    background-color: rgba(0, 0, 0, 0.87);
    color:#ffffff;
    border: 1px black;
    border-radius: 15px;
    border-width: 2px;
    width: 100%;
    height: 500px;
    border-style: solid;
  }

.xcjeditor-descript {
  color:rgb(200, 255, 253);
  align-items: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 20px;
  margin-top: 50px;
}
.xcjeditor-descript-img {
  height: 200px;
  width: 400px;
  margin-left: 100px;
}
.xcjeditor-descript-para {
  margin-left: 60px;
  margin-right: 60px;
}
@media only screen and (max-width: 900px) {
  .xcjeditor-descript-img {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .xcjeditor-descript-img {
    margin-left: -15px;
    height: 180px;
    width: 360px;
  }
  .xcjeditor-descript-para {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media only screen and (max-width: 770px) {
  .xcjeditor-descript-img {
    margin-left: 20px;
  }
  .xcjeditor-descript {
    flex-direction: column;
  }
}


.foot-line {
  height: 4px;
  width: 100%;
  justify-content: center;
  border-radius: 100px;
  background-image: linear-gradient(to right, white 0%, rgb(255, 225, 225) 50%, white 100%);
}